<div class="row">
  <div class="col-12">
    <h3 class="mb-4">Super Admin Dashboard</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
          <div class="card-body">
            <h5 class="card-title">Products</h5>
            <p class="card-text">Manage your products</p>
            <a href="/super-admin/products" class="btn btn-light">View Products</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Create Product</h5>
            <p class="card-text">Add new products</p>
            <a href="/super-admin/products/create" class="btn btn-light">Create Product</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
          <div class="card-body">
            <h5 class="card-title">Main Site</h5>
            <p class="card-text">Visit the main website</p>
            <a href="/" class="btn btn-light">Go to Site</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


