*{
    box-sizing: border-box;
}

.container{
    
    background-color: white;
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    padding: 5%;
    border: 1px solid black;
    
}
.container img{
    height: 50px;
    justify-content: flex-start;
}


.container ul{
    display: inline-flex;
    list-style: none;
    gap: 10px;
    float: right;
}


html {
    background-color: gray;
}
.wrapper{
    
    margin-top: 2%;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 5%;  
}